<div class="right_col" role="main">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Resumo diário - <%= Date.today %></h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="fcol-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">15</div>
              <div>Pilates</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">Ver todas</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">6</div>
              <div>Fisioterapia</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">Ver todas</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">0</div>
              <div>Psiquiatria</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">Ver todas</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">3</div>
              <div>Psicologia</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">Ver todas</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <h3>Pilates</h3>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          AVC
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Paciente</th>
                  <th>Médico</th>
                  <th>Horário</th>
                  <th>Situação</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Rodrigo Toledo</td>
                  <td>Leonardo</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
                <tr>
                  <td>Gislene Dornelas</td>
                  <td>Tatiane</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
                <tr>
                  <td>Leidiane</td>
                  <td>Marcela</td>
                  <td>13:40</td>
                  <td>Em atraso</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
                <tr>
                  <td>Felipe</td>
                  <td>Marcelo</td>
                  <td>14:00</td>
                  <td>Desmarcada por atraso</td>
                  <td>#</td>
                </tr>
                <tr>
                  <td>Carlos</td>
                  <td>Leonardo</td>
                  <td>14:00</td>
                  <td>Desmarcada pelo paciente</td>
                  <td>#</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>

    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Hérnia de Disco
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Paciente</th>
                  <th>Médico</th>
                  <th>Horário</th>
                  <th>Situação</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Rodrigo Toledo</td>
                  <td>Leonardo</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
                <tr>
                  <td>Gislene Dornelas</td>
                  <td>Tatiane</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
                <tr>
                  <td>Leidiane</td>
                  <td>Marcela</td>
                  <td>13:40</td>
                  <td>Em atraso</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
                <tr>
                  <td>Felipe</td>
                  <td>Marcelo</td>
                  <td>14:00</td>
                  <td>Desmarcada por atraso</td>
                  <td>#</td>
                </tr>
                <tr>
                  <td>Carlos</td>
                  <td>Leonardo</td>
                  <td>14:00</td>
                  <td>Desmarcada pelo paciente</td>
                  <td>#</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>

  <!-- /.row -->
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Bursite
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Paciente</th>
                  <th>Médico</th>
                  <th>Horário</th>
                  <th>Situação</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Rodrigo Toledo</td>
                  <td>Leonardo</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
                <tr>
                  <td>Gislene Dornelas</td>
                  <td>Tatiane</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>

    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Distensão muscular
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Paciente</th>
                  <th>Médico</th>
                  <th>Horário</th>
                  <th>Situação</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Rodrigo Toledo</td>
                  <td>Leonardo</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
                <tr>
                  <td>Gislene Dornelas</td>
                  <td>Tatiane</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
                <tr>
                  <td>Leidiane</td>
                  <td>Marcela</td>
                  <td>13:40</td>
                  <td>Em atraso</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>


  <h3>Fisioterapia</h3>

  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Lombalgias
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Paciente</th>
                  <th>Médico</th>
                  <th>Horário</th>
                  <th>Situação</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Rodrigo Toledo</td>
                  <td>Leonardo</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
                <tr>
                  <td>Gislene Dornelas</td>
                  <td>Tatiane</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>

    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Cápsulo-Ligamentares
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Paciente</th>
                  <th>Médico</th>
                  <th>Horário</th>
                  <th>Situação</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Leidiane</td>
                  <td>Marcela</td>
                  <td>13:40</td>
                  <td>Em atraso</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
                <tr>
                  <td>Felipe</td>
                  <td>Marcelo</td>
                  <td>14:00</td>
                  <td>Desmarcada por atraso</td>
                  <td>#</td>
                </tr>
                <tr>
                  <td>Carlos</td>
                  <td>Leonardo</td>
                  <td>14:00</td>
                  <td>Desmarcada pelo paciente</td>
                  <td>#</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>



  <h3>Psicologia</h3>

  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Transtornos Mentais e do Comportamento
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Paciente</th>
                  <th>Médico</th>
                  <th>Horário</th>
                  <th>Situação</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Gislene Dornelas</td>
                  <td>Tatiane</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>

    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Transtornos mentais orgânicos
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Paciente</th>
                  <th>Médico</th>
                  <th>Horário</th>
                  <th>Situação</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Carlos</td>
                  <td>Leonardo</td>
                  <td>14:00</td>
                  <td>Desmarcada pelo paciente</td>
                  <td>#</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>

  <!-- /.row -->
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Esquizofrenia
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Paciente</th>
                  <th>Médico</th>
                  <th>Horário</th>
                  <th>Situação</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Xarles</td>
                  <td>Leonardo</td>
                  <td>14:00</td>
                  <td>Agendada</td>
                  <td><a href="{{ url('sessions/1/mark_off') }}">Desmarcar</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>
  <!-- row -- >
</div>
