<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <small>Uma especialidade representa o que um profissional atua como Fisioterapia, Psicologia</small>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <%= form_for(@speciality, html: {class: 'form-horizontal form-label-left'}) do |f| %>
          <%= render 'partials/errors', current_model: @speciality %>
          <div class="form-group">
            <%= f.label :name, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :name, class: 'form-control col-md-7 col-xs-12' %>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <%= link_to t('forms.back'), specialities_path, class: "btn btn-info" %>
              <button type="submit" class="btn btn-success"><%= t('forms.save') %></button>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
