<% if @speciality.errors.any? %>
  <h2>Um ou mais erros impediram de que o registro de possa ser salvo:</h2>

  <ul>
  <% current_model.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end -%>
