<%= form_for(@session_package) do |f| %>
  <% if @session_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session_package.errors.count, "error") %> prohibited this session_package from being saved:</h2>

      <ul>
      <% @session_package.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.date_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :session_package_type %><br>
    <%= f.number_field :session_package_type %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :speciality_id %><br>
    <%= f.text_field :speciality_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
