<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @session_package.start_at %>
</p>

<p>
  <strong>Session package type:</strong>
  <%= @session_package.session_package_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @session_package.user %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @session_package.speciality %>
</p>

<%= link_to 'Edit', edit_session_package_path(@session_package) %> |
<%= link_to 'Back', session_packages_path %>
