<%= form_for(@user_session_package) do |f| %>
  <% if @user_session_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session_package.errors.count, "error") %> prohibited this user_session_package from being saved:</h2>

      <ul>
      <% @user_session_package.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.date_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br>
    <%= f.date_select :end_at %>
  </div>
  <div class="field">
    <%= f.label :session_package_id %><br>
    <%= f.text_field :session_package_id %>
  </div>
  <div class="field">
    <%= f.label :professional_id %><br>
    <%= f.number_field :professional_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
