<p id="notice"><%= notice %></p>

<h1>Listing User Session Packages</h1>

<table>
  <thead>
    <tr>
      <th>Start at</th>
      <th>End at</th>
      <th>Session package</th>
      <th>Professional</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_session_packages.each do |user_session_package| %>
      <tr>
        <td><%= user_session_package.start_at %></td>
        <td><%= user_session_package.end_at %></td>
        <td><%= user_session_package.session_package %></td>
        <td><%= user_session_package.professional_id %></td>
        <td><%= link_to 'Show', user_session_package %></td>
        <td><%= link_to 'Edit', edit_user_session_package_path(user_session_package) %></td>
        <td><%= link_to 'Destroy', user_session_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User session package', new_user_session_package_path %>
