<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @user_session_package.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @user_session_package.end_at %>
</p>

<p>
  <strong>Session package:</strong>
  <%= @user_session_package.session_package %>
</p>

<p>
  <strong>Professional:</strong>
  <%= @user_session_package.professional_id %>
</p>

<%= link_to 'Edit', edit_user_session_package_path(@user_session_package) %> |
<%= link_to 'Back', user_session_packages_path %>
