<div id="wrapper">
    <div id="login" class="animate form">
      <section class="login_content">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1><%= t(:system_name) %></h1>
          <div class="item form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control", required: "required", placeholder: t("devise.form.email") %>
          </div>

          <div class="item form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", required: "required", placeholder: t("devise.form.password") %>
          </div>

          <div>
            <%= f.submit t("devise.form.login"), class: "btn btn-default submit" %>
            <%= render "devise/shared/links" %>
          </div>
          <div class="clearfix"></div>
          <div class="separator">
            <div class="clearfix"></div>
            <br />
            <div>
              <p>©<%= Date.today.year %> - <%=t(:rights_reserveds) %></p>
            </div>
          </div>
        <% end %>
      </section>
  </div>
</div>
