<div id="wrapper">
  <div id="login" class="animate form">
    <section class="login_content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h1><%= t('enter_login_data') %></h1>
        <div>
          <input type="text" class="form-control" placeholder="Username" required="required" />
        </div>
        <div>
          <input type="password" class="form-control" placeholder="Password" required="" />
        </div>
        <div>
          <%= f.submit t("log_in"), class: "btn btn-default submit" %>
          <a class="reset_pass" href="#">Lost your password?</a>
        </div>
        <div class="clearfix"></div>
           <div>
            <h1><i class="fa fa-paw" style="font-size: 26px;"></i> <%= t(:system_name) %></h1>

            <p>©<%= Date.today.year %> <%= t('rights_reserveds') %></p>
          </div>
        </div>
      <% end %>
      <!-- form -->
    </section>
    <!-- content -->
  </div>
</div>
