<!-- row -->
<h3><%= t('menu.daily_summary', date: @date.strftime("%d/%m/%Y")) %></h3>
<div class="clearfix"></div>
<% Speciality.all.each do |speciality| %>
  <%= render partial: "speciality_in_date", locals: {speciality: speciality, current_date: Date.today} %>
<% end -%>
<% Speciality.all.each do |speciality| %>
  <div class="row top_tiles">
    <div class="x_panel">
      <div class="x_title">
        <h2><%= speciality.name %></h2>
        <div class="clearfix"></div>
      </div>
      <%= render partial: "speciality_in_date", locals: {speciality: speciality, current_date: Date.today} %>
    </div>
  </div>
<% end -%>
<!-- row -- >
