  <!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : application_name %> </title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="nav-md">
<div class="container body">

  <%= render "partials/sidenav" %>
  <%= render "partials/top" %>
  <div class="right_col" role="main">
    <%= yield %>
  </div>

  <%= render "partials/footer" %>
  <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>
  <%= render "partials/flash" %>
</body>
</html>
